.movieDetailDiv {
  max-width: 300px;
  height: auto;
  outline: 1px solid grey;
}

ul {
  list-style: none;
  margin-right: 15px;
}
li,
NavLink {
  margin-right: 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}
* {
  text-align: center;
  text-decoration: none;
}
