.SearchMoviesWrapper {
  text-align-last: center;
  margin-left: auto;
  margin-right: auto;
}
.SearchMoviesWrapper_input,
.Btn {
  text-align-last: left;
  border: 1px solid grey;
  padding: 5px 9px;
  border-radius: 25px;
  margin-right: 5px;
}
.Btn:hover,
.Btn:focus {
  background-color: grey;
  color: white;
  cursor: pointer;
}
